<!DOCTYPE html>
<html
  lang="{{ site.Language.LanguageCode }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}"
>
  <head>
    {{ partial "head.html" }}
  </head>
  <body
    class="min-h-screen md:min-w-full flex flex-col bg-white shadow dark:bg-gray-800 text-gray-300"
  >
    <div class="flex-grow flex flex-col min-w-screen">
      <!-- Header -->
      <header>{{ partial "header.html" . }}</header>

      <!-- Centered Main Content -->
      {{ if .IsHome }}
      <div class="flex-grow flex items-center justify-center">
        <main class="w-8/12 md:w-4/12">{{ block "main" . }}{{ end }}</main>
      </div>
      {{- else -}}
      <div class="flex-grow flex justify-center">
        <main class="w-11/12 md:w-6/12">{{ block "main" . }}{{ end }}</main>
      </div>
      {{ end }}

      <!-- Footer -->
      <footer class="mt-auto">{{ partial "footer.html" . }}</footer>
    </div>
  </body>
</html>
