{{ define "main" }}
<h1 class="text-3xl">{{ .Title }}</h1>

<div class="flex space-x-2 mt-2">
    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }} {{
        $dateHuman := .Date | time.Format ":date_long" }}
        <svg height="20px" data-slot="icon" data-darkreader-inline-stroke="" aria-hidden="true" fill="none" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg">
          <path d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
        <small datetime="{{ $dateMachine }}">
          {{ $dateHuman }}
        </small>
      
        <svg height="20px" data-slot="icon" aria-hidden="true" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
        <small>{{ .ReadingTime }} minute read</small>
      
        <svg height="20px" data-slot="icon" aria-hidden="true" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M9.568 3H5.25A2.25 2.25 0 0 0 3 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 0 0 5.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 0 0 9.568 3Z" stroke-linecap="round" stroke-linejoin="round"></path>
          <path d="M6 6h.008v.008H6V6Z" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
        {{ if isset .Params "tags"}}
        <small>
            <i class="fa fa-tags" title="Tags"></i>
            {{ safe.HTML (delimit (apply (apply .Params.tags "urlize" ".") "printf" "<a href=/tags/%s>#%s</a>" "." ".") ", ") }}
        </small>
        {{ end }}
</div>

<hr />

  {{ .Content }}

<br />
{{end}}
